# Directorios de compilación en todas las carpetas
**/bin/
**/obj/
**/out/

# Configuración local
.vs/
*.user
*.suo

# Bases de datos y logs locales
*.log
*.sqlite
*.db

# Archivos del sistema
.DS_Store
Thumbs.db
ApiService.Application/bin/Debug/net9.0/ApiService.Application.deps.json
ApiService.Application/bin/Debug/net9.0/ApiService.Application.dll
ApiService.Application/bin/Debug/net9.0/ApiService.Application.pdb
ApiService.Application/bin/Debug/net9.0/ApiService.Domain.dll
ApiService.Application/bin/Debug/net9.0/ApiService.Domain.pdb
ApiService.Application/obj/ApiService.Application.csproj.nuget.dgspec.json
ApiService.Application/obj/project.assets.json
ApiService.Application/obj/project.nuget.cache
ApiService.Application/obj/Debug/net9.0/ApiService.Application.AssemblyInfo.cs
ApiService.Application/obj/Debug/net9.0/ApiService.Application.AssemblyInfoInputs.cache
ApiService.Application/obj/Debug/net9.0/ApiService.Application.assets.cache
ApiService.Application/obj/Debug/net9.0/ApiService.Application.csproj.AssemblyReference.cache
ApiService.Application/obj/Debug/net9.0/ApiService.Application.csproj.CoreCompileInputs.cache
ApiService.Application/obj/Debug/net9.0/ApiService.Application.csproj.FileListAbsolute.txt
ApiService.Application/obj/Debug/net9.0/ApiService.Application.dll
ApiService.Application/obj/Debug/net9.0/ApiService.Application.pdb
ApiService.Application/obj/Debug/net9.0/ref/ApiService.Application.dll
ApiService.Application/obj/Debug/net9.0/refint/ApiService.Application.dll
ApiService.Domain/bin/Debug/net9.0/ApiService.Domain.dll
ApiService.Domain/bin/Debug/net9.0/ApiService.Domain.pdb
ApiService.Domain/obj/Debug/net9.0/ApiService.Domain.AssemblyInfo.cs
ApiService.Domain/obj/Debug/net9.0/ApiService.Domain.AssemblyInfoInputs.cache
ApiService.Domain/obj/Debug/net9.0/ApiService.Domain.csproj.CoreCompileInputs.cache
ApiService.Domain/obj/Debug/net9.0/ApiService.Domain.csproj.FileListAbsolute.txt
ApiService.Domain/obj/Debug/net9.0/ApiService.Domain.dll
ApiService.Domain/obj/Debug/net9.0/ApiService.Domain.pdb
ApiService.Domain/obj/Debug/net9.0/ref/ApiService.Domain.dll
ApiService.Domain/obj/Debug/net9.0/refint/ApiService.Domain.dll
ApiService.Infrastructure/bin/Debug/net9.0/ApiService.Application.dll
ApiService.Infrastructure/bin/Debug/net9.0/ApiService.Application.pdb
ApiService.Infrastructure/bin/Debug/net9.0/ApiService.Domain.dll
ApiService.Infrastructure/bin/Debug/net9.0/ApiService.Domain.pdb
ApiService.Infrastructure/bin/Debug/net9.0/ApiService.Infrastructure.deps.json
ApiService.Infrastructure/bin/Debug/net9.0/ApiService.Infrastructure.dll
ApiService.Infrastructure/bin/Debug/net9.0/ApiService.Infrastructure.pdb
ApiService.Infrastructure/obj/ApiService.Infrastructure.csproj.nuget.dgspec.json
ApiService.Infrastructure/obj/ApiService.Infrastructure.csproj.nuget.g.props
ApiService.Infrastructure/obj/ApiService.Infrastructure.csproj.nuget.g.targets
ApiService.Infrastructure/obj/project.assets.json
ApiService.Infrastructure/obj/project.nuget.cache
ApiService.Infrastructure/obj/Debug/net9.0/ApiService.Infrastructure.AssemblyInfo.cs
ApiService.Infrastructure/obj/Debug/net9.0/ApiService.Infrastructure.AssemblyInfoInputs.cache
ApiService.Infrastructure/obj/Debug/net9.0/ApiService.Infrastructure.assets.cache
ApiService.Infrastructure/obj/Debug/net9.0/ApiService.Infrastructure.csproj.AssemblyReference.cache
ApiService.Infrastructure/obj/Debug/net9.0/ApiService.Infrastructure.csproj.CoreCompileInputs.cache
ApiService.Infrastructure/obj/Debug/net9.0/ApiService.Infrastructure.csproj.FileListAbsolute.txt
ApiService.Infrastructure/obj/Debug/net9.0/ApiService.Infrastructure.dll
ApiService.Infrastructure/obj/Debug/net9.0/ApiService.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
ApiService.Infrastructure/obj/Debug/net9.0/ApiService.Infrastructure.pdb
ApiService.Infrastructure/obj/Debug/net9.0/ref/ApiService.Infrastructure.dll
ApiService.Infrastructure/obj/Debug/net9.0/refint/ApiService.Infrastructure.dll
ApiService.Web/bin/Debug/net9.0/ApiService.Application.dll
ApiService.Web/bin/Debug/net9.0/ApiService.Application.pdb
ApiService.Web/bin/Debug/net9.0/ApiService.Domain.dll
ApiService.Web/bin/Debug/net9.0/ApiService.Domain.pdb
ApiService.Web/bin/Debug/net9.0/ApiService.Infrastructure.dll
ApiService.Web/bin/Debug/net9.0/ApiService.Infrastructure.pdb
ApiService.Web/bin/Debug/net9.0/ApiService.Web.deps.json
ApiService.Web/bin/Debug/net9.0/ApiService.Web.dll
ApiService.Web/bin/Debug/net9.0/ApiService.Web.exe
ApiService.Web/bin/Debug/net9.0/ApiService.Web.pdb
ApiService.Web/bin/Debug/net9.0/ApiService.Web.runtimeconfig.json
ApiService.Web/bin/Debug/net9.0/appsettings.Development.json
ApiService.Web/bin/Debug/net9.0/appsettings.json
ApiService.Web/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
ApiService.Web/obj/ApiService.Web.csproj.nuget.dgspec.json
ApiService.Web/obj/ApiService.Web.csproj.nuget.g.props
ApiService.Web/obj/ApiService.Web.csproj.nuget.g.targets
ApiService.Web/obj/project.assets.json
ApiService.Web/obj/project.nuget.cache
ApiService.Web/obj/Debug/net9.0/ApiService.Web.AssemblyInfo.cs
ApiService.Web/obj/Debug/net9.0/ApiService.Web.AssemblyInfoInputs.cache
ApiService.Web/obj/Debug/net9.0/ApiService.Web.assets.cache
ApiService.Web/obj/Debug/net9.0/ApiService.Web.csproj.AssemblyReference.cache
ApiService.Web/obj/Debug/net9.0/ApiService.Web.csproj.CoreCompileInputs.cache
ApiService.Web/obj/Debug/net9.0/ApiService.Web.csproj.FileListAbsolute.txt
ApiService.Web/obj/Debug/net9.0/ApiService.Web.dll
ApiService.Web/obj/Debug/net9.0/ApiService.Web.GeneratedMSBuildEditorConfig.editorconfig
ApiService.Web/obj/Debug/net9.0/ApiService.Web.genruntimeconfig.cache
ApiService.Web/obj/Debug/net9.0/ApiService.Web.MvcApplicationPartsAssemblyInfo.cs
ApiService.Web/obj/Debug/net9.0/ApiService.Web.pdb
ApiService.Web/obj/Debug/net9.0/apphost.exe
ApiService.Web/obj/Debug/net9.0/ref/ApiService.Web.dll
ApiService.Web/obj/Debug/net9.0/refint/ApiService.Web.dll
